# Set these variables and rename the file to .envrc.local
# 
# This file is in .gitignore so won't be commited to
# Git, but it's still best to use a tool like keyring
# to prevent credentials leaking.

# name of the Transip account to use for testing
export TRANSIP_ACCOUNT_NAME=example
# private key of the Transip account mentioned above
export TRANSIP_PRIVATE_KEY=$(keyring get transip $TRANSIP_ACCOUNT_NAME)

# domain name to use for dns_record tests, new records
# will be created and deleted during testing, but existing
# records will not be touched.
export TF_VAR_domain=example.com

# name of VPS to use for testing, the VPS will be read from but not modified.
export TF_VAR_vps_name=example-vps

# name of the private network used for testing, the private network will be read from but not modified.
export TF_VAR_private_network_name=accountname-privatenetwork

# name of the openstack project used for testing (will be read from but not modified.)
export TF_VAR_openstack_project_name

# name of the openstack user used for testing (will be read from but not modified.)
export TF_VAR_openstack_username=openstack-username
