watch_file .envrc.local

use flake 

# import variables and credentials for acceptance testing
test -f .envrc.local && . .envrc.local

export PATH=$PWD/build/$(uname -s|awk '{ print tolower($0) }')_$(uname -m)/:$PATH

