name: Test
on: [push, pull_request]
jobs:
  run:
    name: Test
    runs-on:
        - ubuntu-latest
    steps:
      - name: Setup
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        run: make test
